*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.masonry {
    position: relative;
}

.masonry__item {
    list-style-type: none;
    position: absolute;
}

.masonry__image{
    width: 100%;
    height: 100%;
}

.img1{
    height: 300px;
    border: 2px solid red;
}

.img2{
    height: 140px;
    border: 2px solid blue;
}
.img3{
    height: 400px;
    border: 2px solid plum;
}
.img4{
    height: 370px;
    border: 2px solid purple;
}
.img5{
    height: 430px;
    border: 2px solid peru;
}
.img6{
    height: 260px;
    border: 2px solid black;
}
.img7{
    height: 170px;
    border: 2px solid yellow;
}
.img8{
    height: 290px;
    border: 2px solid green;
}
.img9{
    height: 190px;
    border: 2px solid gray;
}

.img10{
    height: 200px;
    border: 2px solid orangered;
}

.img11{
    height: 230px;
    border: 2px solid aqua;
}

.img12{
    height: 60px;
    border: 2px solid blueviolet;
}